$bg-default-color: #fff;

$primary-color: #ffeb35;
$secondary-color: #5789d4;
$tertiary-color: #e9e9e9;

$text-light-color: #fff;
$text-warning-color: #cc0000;
$text-success-color: #28a745;
$dark-text-color: #222221;
$primary-text-color: #f8ed41;
$secondary-text-color: #5595d1;
$tertiary-text-color: #e9e9e9;
$tertiary-dark-text-color: #59595b;
$tertiary-light-text-color: #a9a9a9;
